*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	display: inline-flex;
}

.logo img {
	max-width: 150px;
}

.container {
	display: grid;
	grid-template-columns: [col1-start] 20% [col1-end col2-start] 25% [col2-end col3-start] 25% [col3-end col4-start] 30%; 
	grid-template-rows: [row1-start] 10% [row1-end row2-start] 20% [row2-end row3-start] 20% [row3-end row4-start] 20% [row4-end row5-start] 50%;

}

a {
	text-decoration: none;
	color: #555;

}

p {
	color: #555;
	
}

app-navbar {
	grid-column-start: 4;
	grid-row-start: 1;
	display: flex;
	align-items: center;
	padding: 20px;
}

.small-container {
	grid-column-start: 2;
	grid-row-start: 3;
}

.bottom-row {
	grid-row-start: 5;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 5;
	display: inline-flex;
	justify-content: space-between;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	margin-bottom: 10px;
	background-color: #a7bed3;
	padding: 50px;
}

.bottom-item {
	font: 20px Arial, sans-serif;
}

.bottom-item ul {
	list-style-type: none;
}













