/**{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.small-container {
	grid-column-start: 2;
	grid-row-start: 3;
}

.row {
	display: block-flex;
}

.item {
	margin-right: 5px;
}

.item img {
	max-height: 150px;
}
*/

.content {
	padding: 16px;
	width: 250%;
}
.content > mat-card {
	width: 300px;
}