

<form [formGroup]="addProduct">
	<mat-form-field>
		<mat-label>Product Name</mat-label>
		<input matInput placeholder="Enter the product name" formControlName="productName">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Product Price</mat-label>
		<input matInput placeholder="Enter the product price" formControlName="productPrice">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Product Descriptio </mat-label>
		<input matInput placeholder="Enter the product description" formControlName="productDescription">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Product Image URL</mat-label>
		<input matInput placeholder="Enter the product image url" formControlName="productImage">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Category</mat-label>
		<input matInput placeholder="Enter the product category" formControlName="productCategory">
	</mat-form-field>
	<mat-select>
		<mat-option *ngFor="let product of products"  (onSelectionChange)="bindValue(product.itemName)">{{product.itemName}}</mat-option>
	</mat-select>
	<mat-label>For edit</mat-label>


</form>

<button (click)="postProduct()">Add Product</button>
<button (click)="putProduct()">Edit Product</button>



<button (click)="testButton()">TEST</button>