<h3>Sign Up</h3>
<div class="small-container">
	<form [formGroup]="userForm">
		<div class="col-1">
			<mat-form-field appearance="outline">
				<mat-label>First name</mat-label>
				<input matInput placeholder="Enter your first name" type="text" name="firstname" formControlName="firstname">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Last name</mat-label>
				<input matInput placeholder="Enter your last name" type="text" #todo name="lastname" formControlName="lastname">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput placeholder="Enter your password" type="password" #todo name="password">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Preference</mat-label>
				<input matInput placeholder="Enter a preference" type="text" #todo name="preference"  formControlName="preference">
			</mat-form-field>
		</div>
		<div class="col-2">
			
			<mat-form-field appearance="outline">
				<mat-label>Address</mat-label>
				<input matInput placeholder="Enter your address" type="text" #todo name="address" formControlName="address">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Phone Number</mat-label>
				<input matInput placeholder="Enter your phone number" type="tel" #todo name="phone" formControlName="phone_no">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Date of birth</mat-label>
				<input matInput placeholder="Enter your DOB" type="text" #todo name="birthday"  formControlName="birthday">
			</mat-form-field>
			<div>
				<button (click)="registerNewCustomer()">Sign Up!</button>
				<button mat-button routerLink="/account/loginsignup" routerLinkActive="active">Cancel</button>
			</div>
		</div>
	</form>
	<!-- <button (click)="newCustomer( email.value, phone.value, dateofbirth.value, firstname.value, lastname.value)">Sign up!</button> -->
</div>
