<mat-spinner *ngIf="customers.length === 0"></mat-spinner>

<mat-card *ngFor="let customer of customers | slice:0:1">

	<mat-card-title>Name: {{customer.fn}} {{customer.ln}}</mat-card-title>
	<mat-card-title>Phone Number: {{customer.phone_no}}</mat-card-title>
	<mat-card-title>Address: {{customer.address}}</mat-card-title>
	<mat-card-title>Date of Birth {{customer.birthday}}</mat-card-title>
</mat-card>


<!-- <div class="small-container">
		<div class="col-1">
			<mat-form-field appearance="outline">
				<mat-label>Email</mat-label>
				<input matInput placeholder="Enter your email" type="email #todo" name="email">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Phone Number</mat-label>
				<input matInput placeholder="Enter your phone number" type="tel" #todo name="phone">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Date of birth</mat-label>
				<input matInput placeholder="Enter your DOB" type="text" #todo name="dateofbirth">
			</mat-form-field>
		</div>
		<div class="col-2">
			<mat-form-field appearance="outline">
				<mat-label>First name</mat-label>
				<input matInput placeholder="Enter your first name" type="text" #todo name="firstname">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Last name</mat-label>
				<input matInput placeholder="Enter your last name" type="text" #todo name="lastname">
			</mat-form-field>
			<mat-form-field appearance="outline">
				<mat-label>Password</mat-label>
				<input matInput placeholder="Enter your password" type="password" #todo name="password">
			</mat-form-field>
		</div>
</div>
 -->


	<!-- <button (click)="newCustomer( email.value, phone.value, dateofbirth.value, firstname.value, lastname.value)">Sign up!</button> -->